body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    padding: 30px;
}

a {
    text-decoration: none;
    color: #393939;
    transition: 500ms;
}

a:hover {
    color: #1a1a1a;
}

a:active {
    color: black;
}

header {
    width: 100%;
}

.mshp-logo {
    color: #2f97db;
    font-weight: 600;
}

.nav-block,
.nav-links {
    display: flex;
    align-items: center;
    gap: 35px;
}

.nav-btns {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 100ms;
}

.btn-main {
    background-color: #008EE7;
    color: white;
}

.btn-main:hover {
    background-color: #2d87c4;
}

.btn-main:active {
    background-color: #287cb4;
    border-radius: 10px;
}

.btn-secondary {
    background-color: #ececec;
}

.btn-secondary:hover {
    background-color: #c4c4c4;
}

.btn-secondary:active {
    background-color: #aaa9a9;
    border-radius: 10px;
}

.how-to {
    display: flex;
    align-items: center;
    position: relative;
    width: 500px;
    border: 2px solid #2980b9;
    height: 500px;
}

.how-to img {
    max-width: 150px;
    position: absolute;
    z-index: -1;
}

section {
    max-width: 50%;
}

main {
    display: flex;
    justify-content: space-around;
}

.how-to img:nth-child(1) {
    top: 150px;
}

.how-to img:nth-child(2) {
    bottom: 50px;
    right: 10px;
}

.how-to img:nth-child(3) {
    top: 0px;
    right: 10px;
}

.how-to img:nth-child(4) {
    max-width: 300px;
    top: 100px;
    right: 100px;
}

.btn-search {
    padding: 20px 50px;
    color: #2980b9;
    font-weight: bold;
    margin-left: 150px;
}

.btn-search:hover {
    background-color: #dfdfdf;
}

.btn-search:active {
    background-color: #c7c7c7;
    border-radius: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1DB3C4;
    text-align: center;
}

.info h2 {
    font-size: 52px;
}

.info p {
    width: 325px;
}

.search {
    display: none;
    width: 100%;
    height: 868px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
}

.search-input {
    padding: 10px;
    border-radius: 15px;
    border: #a8aaad solid 2px;
    transition: 100ms;
}

.search-input:focus {
    padding: 15px;
}

.search-div {
    margin-top: 20%;
    margin-left: 41%;
}

.btn-find {
    background-color: #32cffff6;
    color: white;
}

.btn-find:hover {
    background-color: #30b9e2f6;
}

.btn-find:active {
    background-color: #2792b3f6;
    border-radius: 10px;
}

.search-close {
    position: absolute;
    top: 2%;
    left: 95%;
    color: red;
    transition: 100ms;
    cursor: pointer;
}

.search-close:hover {
    color: #da0000;
}

.search-close:active {
    color: #bb0000;
}